{% extends "header.html" %}

{% block body %}
<div class="container-fluid col-md-2" style="padding: 0px 5px 0px 0px">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/dashboard/">Dashboard</a></li>
        <li role="presentation" class="active"><a href="/addjob/">Add</a></li>
        <li role="presentation"><a href="/deletejob/">Delete</a></li>
    </ul>
</div>

<div class=" col-md-10">
    <h2>Add a job:</h2>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="jobname">Job Name:</label>
            <div class="col-sm-10">
                {{ form.hidden_tag() }}
                {{ form.crsf_token }}
                {{ form.jobname(placeholder="Enter the job name, max 65 characters", class="form-control", id="jobname")
                }}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="clientname">Client Name:</label>
            <div class="col-sm-10">
                <div class='input-group'>
                    {{ form.clientnameselect(class="form-control", id="clientname") }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addClient"><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="accmanager">Account Manager:</label>
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form.accountmanager(class="form-control" , id="accmanager" ) }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#addAccountManager"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="installdate">Install Date:</label>
            <div class="col-sm-10">
                <div class='input-group date' id='datetimepicker1'>
                    {{ form.installdate(placeholder="YYYY-MM-DD", class="form-control", id="installdate") }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group has-success">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit(class="btn btn-default") }}
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="addClient">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Add a new client</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please ensure the new client doesn't already exist before continuing.</p>
                <label class="control-label" for="clientnamestring">Client Name:</label>
                {{ form.clientnamestring(placeholder="e.g. Microsoft", class="form-control", id="clientnamestring") }}
            </div>
            <div class="modal-footer">
                <button type="submit" name="btn" value="save" class="btn btn-primary">Save changes</button>
                <button type="submit" name="btn" value="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}